---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Reader bio",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Welcome digital nomad! This is a site (built with <a href="https://astro.build/" class="inline-block cactus-link" target="_blank" rel="noopener noreferrer" aria-label="astro build">Astro</a>) where I review books, movies, and possibly share fun stuff about web development. All my favorite things! Ok, not really, but creating sites about the other things I like might be heavily frowned upon in polite society.
		</p>
		<p>Or you know...no one would want to visit a site dedicated to backyard chickens and poorly made tea scones.</p>
		<p>Here are my some things about me:</p>
		<ul class="list-disc list-inside">
			<li>My favorite color is purple</li>
			<li>I am a night owl 🦉</li>
			<li>Cold beverages only, please</li>
			<li>Derry Girls is my comfort show</li>
			<li>Web developer by trade</li>
			<li>Give me Historal Romance or give me death 💀</li>
		</ul>
		<p>
			Clone or fork my
			<a
				class="inline-block cactus-link"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				repo
			</a> if you like me!
		</p>
	</div>
</PageLayout>
