---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "getBookish",
	description: "Bookish and nerd musing from a person who really isn't that important",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Welcome Fellow Readers!</h1>
		<p class="mb-4">
			Hi, my name is Ariel. I read what most literary studies professors would refer to as "trash", "hot garbage", and "filth". Within these hallowed web pages, you will find poorly written reviews and grating millenial commentary. <b>Proceed at your own risk.</b> Or try the prompt generator to get ideas for your next read!
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Fav Genres ❤️</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<p class="inline-block sm:mt-2">Historical Romance</p>
			</li>
			<li>
				<p class="inline-block sm:mt-2">
					Middle Grade
				</p>
			</li>
			<li>
				<p class="inline-block sm:mt-2">
					Nordic Noir
				</p>
			</li>
			<li>
				<p class="inline-block sm:mt-2">Adult Fantasy</p>
			</li>
			<li>
				<p class="inline-block sm:mt-2">Space Opera</p>
			</li>
		</ul>
	</section>
</PageLayout>
