---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Reading Prompts",
	description: "Prompts for every occassion",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Coming Soon</h1>
		<p>
			No ideas? No problem.
    </p>
	</div>
</PageLayout>
